.appWrapper {
  height: 100vh;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-size: 3rem;
  padding: 3rem 1.5rem;
  text-align: center;
}
